In [1]:
#1. display all the header tags from wikipedia.org
## URL:::: https://en.wikipedia.org/wiki/Main_Page
### URL:::: https://wikipedia.org

from urllib.request import urlopen
from bs4 import BeautifulSoup
wikiURL = input("Enter wiki URL: ")
html = urlopen(wikiURL)
bs = BeautifulSoup(html, "html.parser")
titles = bs.find_all(['h1', 'h2','h3','h4','h5','h6'])
print('\nList all the header tags :', *titles, sep='\n\n')

Enter wiki URL: https://en.wikipedia.org/wiki/Main_Page

List all the header tags :

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none"><span class="mw-page-title-main">Main Page</span></h1>

<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfl-h2"><span id="From_today.27s_featured_list"></span><span class="mw-headline" id="From_today's_featured_list">From today's featured list</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>

# 2. IMDB’s Top rated 100 movies’ data

In [2]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import re
html = urlopen('http://www.imdb.com/chart/top')
bs = BeautifulSoup(html, "html.parser")
movies = bs.select('td.titleColumn')
ratings = [b.attrs.get('data-value') for b in bs.select('td.posterColumn span[name=ir]')]


imdb = []

# Store each item into dictionary (data), then put those into a list (imdb)
for index in range(0, 100):
    # Seperate movie into: 'place', 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    data = [movie_title,
            ratings[index],
            year
            ]
    imdb.append(data)
    
df = pd.DataFrame(imdb, columns=['Name', 'Rating', 'Year of Release'])

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
 
# All dataframes hereafter reflect these changes.
display(df)

,Name,Rating,Year of Release
0,The Shawshank Redemption,9.235280751979863,1994
1,The Godfather,9.155965075862099,1972
2,The Dark Knight,8.990157683140144,2008
3,The Godfather Part II,8.984053163826752,1974
4,12 Angry Men,8.951667010764291,1957
5,Schindler's List,8.938858784983655,1993
6,The Lord of the Rings: The Return of the King,8.930217655049953,2003
7,Pulp Fiction,8.847746547857247,1994
8,The Lord of the Rings: The Fellowship of the Ring,8.80977342993696,2001
9,"Il buono, il brutto, il cattivo",8.790169225621716,1966
10,Forrest Gump,8.767344021196012,1994
11,Fight Club,8.748442355474708,1999
12,The Lord of the Rings: The Two Towers,8.73507778027063,2002
13,Inception,8.733013186711613,2010
14,The Empire Strikes Back,8.69921565548567,1980
15,The Matrix,8.669541962519668,1999
16,GoodFellas,8.652587151235464,1990
17,One Flew Over the Cuckoo's Nest,8.638890784899456,1975
18,Se7en,8.604272335198607,1995
19,Shichinin no samurai,8.598689081516412,1954
20,It's a Wonderful Life,8.597736096161123,1946
21,The Silence of the Lambs,8.588075503214446,1991
22,Cidade de Deus,8.579645428307654,2002
23,Saving Private Ryan,8.579249827866597,1998
24,La vita è bella,8.568358262509742,1997
25,Interstellar,8.567301160021856,2014
26,The Green Mile,8.562616333206298,1999
27,Star Wars,8.549423531811856,1977
28,Terminator 2: Judgment Day,8.537189005072015,1991
29,Back to the Future,8.517917733362632,1985
30,Sen to Chihiro no kamikakushi,8.516138384120335,2001
31,The Pianist,8.506872616817999,2002
32,Psycho,8.506831724669007,1960
33,Gisaengchung,8.498829696453424,2019
34,Léon,8.494991884277294,1994
35,The Lion King,8.488103439984112,1994
36,Gladiator,8.486392501108146,2000
37,American History X,8.482332293290089,1998
38,The Departed,8.475977185725752,2006
39,The Usual Suspects,8.471073262863289,1995
40,The Prestige,8.468987793917684,2006
41,Whiplash,8.466477494727272,2014
42,Casablanca,8.462612305522457,1942
43,Seppuku,8.455274393490287,1962
44,Hotaru no haka,8.454847551606766,1988
45,The Intouchables,8.454170979594675,2011
46,Modern Times,8.447912316607884,1936
47,Once Upon a Time in the West,8.442382106264423,1968
48,Rear Window,8.43580037828949,1954
49,Nuovo Cinema Paradiso,8.434437414084694,1988
50,Alien,8.433613507907406,1979
51,City Lights,8.433070988887943,1931
52,Apocalypse Now,8.423811902251192,1979
53,Memento,8.421271922204227,2000
54,Django Unchained,8.407737264738286,2012
55,Raiders of the Lost Ark,8.40755816575798,1981
56,WALL·E,8.394628638669753,2008
57,The Lives of Others,8.384677715563601,2006
58,Sunset Blvd,8.379489369650623,1950
59,Paths of Glory,8.371667586634725,1957
60,The Shining,8.365528055029264,1980
61,The Great Dictator,8.365134543953149,1940
62,Avengers: Infinity War,8.361248807630446,2018
63,Witness for the Prosecution,8.359280594894203,1957
64,Aliens,8.343136041952219,1986
65,Spider-Man: Into the Spider-Verse,8.336357229134794,2018
66,American Beauty,8.332124957331324,1999
67,Dr Strangelove or: How I Learned to Stop Worrying and Love the Bomb,8.328898736459063,1964
68,The Dark Knight Rises,8.326764909451168,2012
69,Oldeuboi,8.320417527879128,2003
70,Inglourious Basterds,8.316662689554848,2009
71,Amadeus,8.316488088857898,1984
72,Coco,8.315039318452149,2017
73,Joker,8.314391331672736,2019
74,Toy Story,8.314016112890208,1995
75,Braveheart,8.313172873168082,1995
76,Das Boot,8.311800511716315,1981
77,Avengers: Endgame,8.304339501515399,2019
78,Mononoke-hime,8.303501693567782,1997
79,Once Upon a Time in America,8.29583092016413,1984
80,Good Will Hunting,8.291132834297498,1997
81,Kimi no Na wa,8.281813481678304,2016
82,Requiem for a Dream,8.274935688373624,2000
83,Singin' in the Rain,8.274342598553693,1952
84,3 Idiots,8.274325097196785,2009
85,Toy Story 3,8.272311985643839,2010
86,Tengoku to jigoku,8.271276360139778,1963
87,Capharnaüm,8.265066849608504,2018
88,Star Wars: Episode VI - Return of the Jedi,8.264903772937982,1983
89,Eternal Sunshine of the Spotless Mind,8.262302382137259,2004
90,2001: A Space Odyssey,8.262282531510134,1968
91,Reservoir Dogs,8.26046469029339,1992
92,Jagten,8.256798643548315,2012
93,Idi i smotri,8.25597040862826,1985
94,Top Gun: Maverick,8.254937736653245,2022
95,Citizen Kane,8.252013742126184,1941
96,Lawrence of Arabia,8.251126489165708,1962
97,M - Eine Stadt sucht einen Mörder,8.251065675618594,1931
98,North by Northwest,8.247029570481745,1959
99,Vertigo,8.243662837896656,1958

# 3. IMDB’s Top rated 100 Indian movies’ data

In [3]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import re
html = urlopen('https://www.imdb.com/india/top-rated-indian-movies/')
bs = BeautifulSoup(html, "html.parser")
movies = bs.select('td.titleColumn')
ratings = [b.attrs.get('data-value') for b in bs.select('td.posterColumn span[name=ir]')]


imdb = []

# Store each item into dictionary (data), then put those into a list (imdb)
for index in range(0, 100):
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    data = [movie_title,
            ratings[index],
            year
            ]
    imdb.append(data)
    
df = pd.DataFrame(imdb, columns=['Name', 'Rating', 'Year of Release'])

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
 
# All dataframes hereafter reflect these changes.
display(df)

                                   Name             Rating Year of Release
0   Ramayana: The Legend of Prince Rama  8.539937018849058            1993
1            Rocketry: The Nambi Effect   8.41769505834884            2022
2                               Golmaal  8.396785997680823            1979
3                               Nayakan  8.392467049908932            1987
4                            Anbe Sivam  8.387903154305882            2003
5                           777 Charlie  8.387825160924143            2022
6                              Jai Bhim    8.3686579087527            2021
7                     Pariyerum Perumal  8.359378720475561            2018
8                              3 Idiots  8.352761126295139            2009
9                      Manichitrathazhu  8.352108268458506            1993
10                          Apur Sansar  8.350819965392139            1959
11                                #Home  8.317576301525762            2021
12                         Black Friday  8.312451204277444            2004
13                      Soorarai Pottru   8.31043782481379            2020
14                    Kumbalangi Nights  8.307758933576848            2019
15                     Taare Zameen Par  8.300914262222642            2007
16                    C/o Kancharapalem   8.30046893032587            2018
17                             Kireedam  8.289952830456794            1989
18                               Dangal  8.280521430243065            2016
19                               Kaithi  8.264065577815467            2019
20                               Jersey  8.259627130275943            2019
21                                   96  8.250354649140647            2018
22                            Natsamrat  8.231405902966575            2016
23                               Asuran  8.229967758664147            2019
24                         Thevar Magan  8.227860963161243            1992
25                           Drishyam 2  8.226564041844277            2021
26                           Visaaranai  8.220389868323139            2015
27                           Sita Ramam   8.21919573243037            2022
28                           Thalapathi  8.211125106279704            1991
29                  Sarpatta Parambarai  8.206357411639068            2021
30                      Pather Panchali  8.204396170846515            1955
31                         Nadodikkattu  8.187078560233195            1987
32                   Jaane Bhi Do Yaaro  8.177255515459287            1983
33                         Thani Oruvan  8.175024682547743            2015
34                             Drishyam  8.173733898961212            2013
35                         Sardar Udham  8.170965423212666            2021
36                            Aparajito  8.168353960616082            1956
37                         Vada Chennai  8.165058548398251            2018
38                    Khosla Ka Ghosla!  8.163934230200791            2006
39                             Ratsasan  8.146352995077521            2018
40                              Anniyan   8.14545277944532            2005
41                        Chupke Chupke  8.142461809198172            1975
42                              Peranbu  8.133355048644288            2018
43                             Mahanati  8.131877045983808            2018
44                   Gangs of Wasseypur   8.13065350612763            2012
45                                Satya  8.127905082932122            1998
46                       Bangalore Days  8.127671274635514            2014
47                             Drishyam   8.12709819537531            2015
48                               Premam  8.125380383209325            2015
49          Agent Sai Srinivasa Athreya  8.124956956893893            2019
50                            Devasuram  8.116765087331869            1993
51                         Super Deluxe  8.110748565019264            2019
52                   Bhaag Milkha Bhaag  8.108045435941804            2013
53                              Tumbbad   8.10674540819749            2018
54                            Andhadhun  8.105678605555061            2018
55                         Vikram Vedha  8.102392391405681            2017
56                                Guide  8.099504264284521            1965
57                             Chithram  8.096091937295238            1988
58                Kannathil Muthamittal  8.091610075700965            2002
59             Zindagi Na Milegi Dobara  8.090468080649833            2011
60                               Sairat  8.089887695029155            2016
61                           Drishyam 2  8.089795700598554            2022
62                               Shahid  8.088201070154453            2012
63                               Vikram  8.087496826073808            2022
64                           Chhichhore  8.084585182289787            2019
65                                Aruvi  8.083091790439354            2016
66                     Paan Singh Tomar   8.08118064157071            2012
67                               Iruvar  8.078643170199216            1997
68               Swades: We, the People  8.076262076400667            2004
69                               Pyaasa  8.072478013189253            1957
70                      Munna Bhai MBBS  8.068953441256118            2003
71                       Chak De! India  8.068792152139563            2007
72                             Spadikam   8.06710947913866            1995
73             Uri: The Surgical Strike  8.066828215007463            2019
74                            Mudhalvan  8.063950577772703            1999
75                                Black  8.062408391326093            2005
76               Jo Jeeta Wohi Sikandar  8.060517947885963            1992
77                           Hera Pheri  8.055802270175487            2000
78               Dhuruvangal Pathinaaru   8.05496273358715            2016
79    Lagaan: Once Upon a Time in India  8.052113118545076            2001
80                            Papanasam  8.051835324085069            2015
81                         Pudhu Pettai  8.050044151850688            2006
82                                   PK  8.045427723480508            2014
83                                Queen  8.044498037510495            2013
84                           Article 15   8.04255812596594            2019
85                               Talvar  8.042498032374493            2015
86                              Mandela  8.040011431048557            2021
87                        Soodhu Kavvum  8.039167107879749            2013
88                      OMG: Oh My God!  8.038215537959553            2012
89                            Sarfarosh  8.037786526835191            1999
90                               Sholay  8.036907990629272            1975
91                                Udaan  8.033793849211134            2010
92                               Barfi!  8.032072029929049            2012
93                              Kantara  8.031552233964321            2022
94           The Legend of Bhagat Singh   8.02887119624996            2002
95                          Jigarthanda  8.028258823128429            2014
96                       Kaakkaa Muttai  8.026705217675323            2014
97                          Ustad Hotel   8.02346752609951            2012
98             Theeran Adhigaaram Ondru   8.02186767759819            2017
99          Baahubali 2: The Conclusion  8.020257055841752            2017

# 4. List of respected former presidents of India

In [4]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
html = urlopen('https://presidentofindia.nic.in/former-presidents.htm')
bs = BeautifulSoup(html, "html.parser")
presidents = bs.find_all("div", {"class": "presidentListing"})

presidentsList = []

for index in range(0, len(presidents)):
    presidents_string = presidents[index].get_text()
    president = presidents_string.split('\n')[1]
    term = presidents_string.split('\n')[2].split(": ")[1]
    data = [president, term]
    presidentsList.append(data)

df = pd.DataFrame(presidentsList, columns=["Name","Term of Office"])
display(df)

,Name,Term of Office
0,Shri Ram Nath Kovind (birth - 1945),"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974"
11,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

# 5. a) Top 10 ODI Teams

In [5]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
html = urlopen('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
bs = BeautifulSoup(html, "html.parser")
firstTeamName = bs.select("td.rankings-block__banner--team-name span.u-hide-phablet")[0];
firstTeamMatches = bs.select("td.rankings-block__banner--matches")[0];
firstTeamPoints = bs.select("td.rankings-block__banner--points")[0];
firstTeamRating = bs.select("td.rankings-block__banner--rating")[0];
firstTeam = [firstTeamName.get_text(), firstTeamMatches.get_text(), firstTeamPoints.get_text(), firstTeamRating.get_text().strip()];


restTeams = bs.select("tr.table-body");
restTeamNames = bs.select("td.rankings-table__team span.u-hide-phablet");
restTeamMatchesPoints = bs.select("td.u-center-text");
restTeamRatings = bs.select("td.rating");

restTeamMatches = [];
restTeamPoints = [];

for index in range(0, len(restTeamMatchesPoints)):
    if (index%2 == 0):
        restTeamMatches.append(restTeamMatchesPoints[index].get_text());
    else:
        restTeamPoints.append(restTeamMatchesPoints[index].get_text());
        

teamList = []
teamList.append(firstTeam);

for index in range(0, 9):
    name = restTeamNames[index].get_text();
    matches = restTeamMatches[index];
    points = restTeamPoints[index];
    ratings = restTeamRatings[index].get_text();
    restTeam = [name, matches, points, ratings];
    teamList.append(restTeam);


df = pd.DataFrame(teamList, columns=["Name","Matches", "Points", "Rating"])
display(df)

           Name Matches Points Rating
0   New Zealand      25  2,887    115
1       England      30  3,400    113
2     Australia      32  3,572    112
3         India      40  4,377    109
4      Pakistan      24  2,584    108
5  South Africa      24  2,392    100
6    Bangladesh      33  3,129     95
7     Sri Lanka      33  2,917     88
8   Afghanistan      20  1,419     71
9   West Indies      41  2,902     71

# 5. b) Top 10 ODI Batsmen

In [6]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
html = urlopen('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
bs = BeautifulSoup(html, "html.parser")
firstPlayerName = bs.select("div.rankings-block__banner--name-large")[0];
firstPlayerTeam = bs.select("div.rankings-block__banner--nationality")[0];
firstPlayerRating = bs.select("div.rankings-block__banner--rating")[0];

firstPlayer = [firstPlayerName.get_text().strip(),firstPlayerTeam.get_text().strip(),firstPlayerRating.get_text().strip()]

restPlayerName = bs.select("td.rankings-table__name");
restPlayerTeam = bs.select("td.rankings-table__team");
restPlayerRating = bs.select("td.rating");

playerList = []
playerList.append(firstPlayer);


for index in range(0,9):
    name = restPlayerName[index].get_text().strip();
    team = restPlayerTeam[index].get_text().strip();
    rating = restPlayerRating[index].get_text().strip();
    playerList.append([name,team,rating]);
    
df = pd.DataFrame(playerList, columns=["Name","Team", "Rating"])
display(df)

                    Name Team Rating
0             Babar Azam  PAK    891
1  Rassie van der Dussen   SA    766
2            Imam-ul-Haq  PAK    764
3        Quinton de Kock   SA    759
4           David Warner  AUS    747
5            Virat Kohli  IND    726
6            Steve Smith  AUS    719
7           Rohit Sharma  IND    715
8         Jonny Bairstow  ENG    710
9           Fakhar Zaman  PAK    695

# 5. c) Top 10 ODI Bowlers

In [7]:
 from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
html = urlopen('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
bs = BeautifulSoup(html, "html.parser")
firstPlayerName = bs.select("div.rankings-block__banner--name-large")[0];
firstPlayerTeam = bs.select("div.rankings-block__banner--nationality")[0];
firstPlayerRating = bs.select("div.rankings-block__banner--rating")[0];

firstPlayer = [firstPlayerName.get_text().strip(),firstPlayerTeam.get_text().strip(),firstPlayerRating.get_text().strip()]

restPlayerName = bs.select("td.rankings-table__name");
restPlayerTeam = bs.select("td.rankings-table__team");
restPlayerRating = bs.select("td.rating");

playerList = []
playerList.append(firstPlayer);


for index in range(0,9):
    name = restPlayerName[index].get_text().strip();
    team = restPlayerTeam[index].get_text().strip();
    rating = restPlayerRating[index].get_text().strip();
    playerList.append([name,team,rating]);
    
df = pd.DataFrame(playerList, columns=["Name","Team", "Rating"])
display(df)

                Name Team Rating
0        Trent Boult   NZ    744
1     Josh Hazlewood  AUS    727
2     Mitchell Starc  AUS    665
3        Rashid Khan  AFG    659
4         Matt Henry   NZ    656
5         Adam Zampa  AUS    655
6     Shaheen Afridi  PAK    654
7    Shakib Al Hasan  BAN    652
8  Mustafizur Rahman  BAN    638
9   Mujeeb Ur Rahman  AFG    637

# 6. a) Top 10 ODI Teams - Women

In [8]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
html = urlopen('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
bs = BeautifulSoup(html, "html.parser")
firstTeamName = bs.select("td.rankings-block__banner--team-name span.u-hide-phablet")[0];
firstTeamMatches = bs.select("td.rankings-block__banner--matches")[0];
firstTeamPoints = bs.select("td.rankings-block__banner--points")[0];
firstTeamRating = bs.select("td.rankings-block__banner--rating")[0];
firstTeam = [firstTeamName.get_text(), firstTeamMatches.get_text(), firstTeamPoints.get_text(), firstTeamRating.get_text().strip()];


restTeams = bs.select("tr.table-body");
restTeamNames = bs.select("td.rankings-table__team span.u-hide-phablet");
restTeamMatchesPoints = bs.select("td.u-center-text");
restTeamRatings = bs.select("td.rating");

restTeamMatches = [];
restTeamPoints = [];

for index in range(0, len(restTeamMatchesPoints)):
    if (index%2 == 0):
        restTeamMatches.append(restTeamMatchesPoints[index].get_text());
    else:
        restTeamPoints.append(restTeamMatchesPoints[index].get_text());
        

teamList = []
teamList.append(firstTeam);

for index in range(0, 9):
    name = restTeamNames[index].get_text();
    matches = restTeamMatches[index];
    points = restTeamPoints[index];
    ratings = restTeamRatings[index].get_text();
    restTeam = [name, matches, points, ratings];
    teamList.append(restTeam);


df = pd.DataFrame(teamList, columns=["Name","Matches", "Points", "Rating"])
display(df)

           Name Matches Points Rating
0     Australia      18  3,061    170
1       England      28  3,342    119
2  South Africa      26  3,098    119
3         India      27  2,820    104
4   New Zealand      25  2,553    102
5   West Indies      27  2,535     94
6    Bangladesh      13    983     76
7      Thailand       8    572     72
8      Pakistan      24  1,519     63
9     Sri Lanka       8    353     44

# 6. b) Top 10 ODI Batsmen - Women

In [9]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
html = urlopen('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
bs = BeautifulSoup(html, "html.parser")
firstPlayerName = bs.select("div.rankings-block__banner--name-large")[0];
firstPlayerTeam = bs.select("div.rankings-block__banner--nationality")[0];
firstPlayerRating = bs.select("div.rankings-block__banner--rating")[0];

firstPlayer = [firstPlayerName.get_text().strip(),firstPlayerTeam.get_text().strip(),firstPlayerRating.get_text().strip()]

restPlayerName = bs.select("td.rankings-table__name");
restPlayerTeam = bs.select("td.rankings-table__team");
restPlayerRating = bs.select("td.rating");

playerList = []
playerList.append(firstPlayer);


for index in range(0,9):
    name = restPlayerName[index].get_text().strip();
    team = restPlayerTeam[index].get_text().strip();
    rating = restPlayerRating[index].get_text().strip();
    playerList.append([name,team,rating]);
    
df = pd.DataFrame(playerList, columns=["Name","Team", "Rating"])
display(df)

                  Name Team Rating
0         Alyssa Healy  AUS    785
1          Beth Mooney  AUS    749
2      Laura Wolvaardt   SA    732
3       Natalie Sciver  ENG    731
4     Harmanpreet Kaur  IND    716
5      Smriti Mandhana  IND    714
6          Meg Lanning  AUS    710
7       Rachael Haynes  AUS    701
8  Chamari Athapaththu   SL    655
9         Ellyse Perry  AUS    642

# 6. c) Top 10 ODI Bowlers - Women

In [10]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
html = urlopen('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling')
bs = BeautifulSoup(html, "html.parser")
firstPlayerName = bs.select("div.rankings-block__banner--name-large")[0];
firstPlayerTeam = bs.select("div.rankings-block__banner--nationality")[0];
firstPlayerRating = bs.select("div.rankings-block__banner--rating")[0];

firstPlayer = [firstPlayerName.get_text().strip(),firstPlayerTeam.get_text().strip(),firstPlayerRating.get_text().strip()]

restPlayerName = bs.select("td.rankings-table__name");
restPlayerTeam = bs.select("td.rankings-table__team");
restPlayerRating = bs.select("td.rating");

playerList = []
playerList.append(firstPlayer);


for index in range(0,9):
    name = restPlayerName[index].get_text().strip();
    team = restPlayerTeam[index].get_text().strip();
    rating = restPlayerRating[index].get_text().strip();
    playerList.append([name,team,rating]);
    
df = pd.DataFrame(playerList, columns=["Name","Team", "Rating"])
display(df)

                  Name Team Rating
0    Sophie Ecclestone  ENG    751
1        Jess Jonassen  AUS    725
2         Megan Schutt  AUS    722
3       Shabnim Ismail   SA    722
4       Jhulan Goswami  IND    698
5      Hayley Matthews   WI    660
6           Kate Cross  ENG    655
7       Ayabonga Khaka   SA    634
8  Rajeshwari Gayakwad  IND    617
9       Marizanne Kapp   SA    598

# 7. News details from https://www.cnbc.com/world/?region=world

In [11]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
html = urlopen('https://www.cnbc.com/world/?region=world')
bs = BeautifulSoup(html, "html.parser")
headLinesTimestampList = bs.select("time.LatestNews-timestamp");
headLinesTitleList = bs.select("a.LatestNews-headline");
headLinesLinkList = [b.attrs.get('href') for b in bs.select('a.LatestNews-headline')]


latest_news = []

for index in range(0,len(headLinesTitleList)):
    headline = headLinesTitleList[index].get_text();
    time = headLinesTimestampList[index].get_text();
    news_link = headLinesLinkList[index];
    latest_news.append([headline, time, news_link]);
    
df = pd.DataFrame(latest_news, columns=["Headline","Time", "News Link"])
display(df)

,Headline,Time,News Link
0,South Koreans are the world's biggest spenders on luxury goods,24 Min Ago,https://www.cnbc.com/2023/01/13/south-koreans-are-the-worlds-biggest-spenders-on-luxury-goods.html
1,"WWE's smaller rival AEW interested in merger, sources say",1 Hour Ago,https://www.cnbc.com/2023/01/12/aew-has-interest-merging-wwe.html
2,Want a recession-proof portfolio? Fund manager names stocks that fit the bill,2 Hours Ago,https://www.cnbc.com/2023/01/13/recession-proof-shares-fund-manager-names-cybersecurity-and-clean-energy-picks.html
3,Goldman says Asia tech is about to rebound — and reveals a chip stock to play it,2 Hours Ago,https://www.cnbc.com/2023/01/13/goldman-names-chip-giant-to-buy-as-asia-tech-heads-for-major-bottom.html
4,Why Singapore isn't imposing new travel rules on visitors from China,2 Hours Ago,https://www.cnbc.com/2023/01/13/singapore-covid-travel-rules-why-singapore-isnt-singling-china-out.html
5,Cramer's lightning round: I like Entegris,3 Hours Ago,https://www.cnbc.com/2023/01/12/cramers-lightning-round-i-like-entegris.html
6,Apple CEO Tim Cook requests and receives a 40% pay cut after shareholder vote,3 Hours Ago,https://www.cnbc.com/2023/01/12/apple-ceo-tim-cook-receives-a-40percent-pay-cut-after-shareholder-vote.html
7,Asia-Pacific shares trade mostly higher following cooler U.S. inflation print,3 Hours Ago,https://www.cnbc.com/2023/01/13/asia-pacific-markets-cpi-inflation-nikkei.html
8,Jim Cramer says Disney should allow Nelson Peltz to join its board,3 Hours Ago,https://www.cnbc.com/2023/01/12/jim-cramer-says-disney-should-allow-nelson-peltz-to-join-its-board.html
9,U.S. Chamber of Commerce plans to sue the FTC over ban on noncompete clauses,3 Hours Ago,https://www.cnbc.com/2023/01/12/us-chamber-of-commerce-threatens-to-sue-the-ftc-over-proposed-ban-on-noncompete-clauses.html
10,"Exxon predicted global warming with remarkable accuracy years ago, study shows",3 Hours Ago,https://www.cnbc.com/2023/01/12/exxon-predicted-global-warming-with-remarkable-accuracy-study.html
11,Stock futures are flat as investors await big bank earnings,4 Hours Ago,https://www.cnbc.com/2023/01/12/stock-market-futures-open-to-close-news.html
12,"Meta sues Voyager Labs, saying it created fake accounts to scrape user data",4 Hours Ago,https://www.cnbc.com/2023/01/12/meta-sues-voyager-labs-over-scraping-user-data.html
13,Inflation may be retreating more than December's consumer price data shows,4 Hours Ago,https://www.cnbc.com/2023/01/12/inflation-may-be-retreating-more-than-decembers-consumer-price-data-actually-shows.html
14,3 mental 'checkpoints' to help you meditate the right way,4 Hours Ago,https://www.cnbc.com/2023/01/12/3-ways-to-know-youre-meditating-the-right-way-.html
15,Pro Picks: Watch all of Thursday's big stock calls on CNBC,4 Hours Ago,https://www.cnbc.com/2023/01/12/pro-picks-watch-all-of-thursdays-big-stock-calls-on-cnbc.html
16,Nelson Peltz's attempt to join Disney's board could force much-needed accountability,5 Hours Ago,https://www.cnbc.com/2023/01/12/nelson-peltzs-attempt-to-join-disneys-board-could-force-accountability.html
17,Crypto firms Genesis and Gemini charged by SEC with selling unregistered securities,5 Hours Ago,https://www.cnbc.com/2023/01/12/sec-charges-genesis-and-gemini-with-selling-unregistered-securities.html
18,We're sticking with Coterra despite the recent fall in natural gas prices,6 Hours Ago,https://www.cnbc.com/2023/01/12/we-still-like-coterra-energy-despite-the-recent-fall-in-nat-gas-prices-.html
19,Startup funding has tanked over the past year—and recession fears are to blame,6 Hours Ago,https://www.cnbc.com/2023/01/12/startup-investment-fell-in-late-2022-amid-recession-fear-crunchbase.html
20,Nike CEO touts strength in Gen Z China shopper amid Covid disruptions,6 Hours Ago,https://www.cnbc.com/2023/01/12/nike-ceo-john-donahoe-touts-strength-in-gen-z-china-shopper.html
21,"Nearly 250,000 U.S. kindergartners are vulnerable to measles, CDC says",6 Hours Ago,https://www.cnbc.com/2023/01/12/measles-250000-kindergarteners-are-vulnerable-due-to-drop-in-vaccination-rate-.html
22,"Social Security COLAs fell short of inflation by $1,054 since pandemic began",6 Hours Ago,https://www.cnbc.com/2023/01/12/social-security-colas-fell-short-of-inflation-by-1054-since-pandemic-began.html
23,Prince Harry's 'Spare' ghostwriter wrote these 3 other bestselling memoirs,7 Hours Ago,https://www.cnbc.com/2023/01/12/prince-harrys-spare-ghostwriter-also-wrote-bestselling-nike-memoir.html
24,Hedge funds are aggressively buying Chinese stocks — Here's why,7 Hours Ago,https://www.cnbc.com/2023/01/12/hedge-funds-avidly-buy-chinese-stocks-betting-on-short-covid-setback.html
25,Mark Cuban predicts this will be the 'next possible implosion' in crypto,7 Hours Ago,https://www.cnbc.com/2023/01/12/mark-cuban-next-crypto-implosion-may-be-uncovering-wash-trading.html
26,"Tax season opens for individual filers on Jan. 23, says IRS",7 Hours Ago,https://www.cnbc.com/2023/01/12/irs-tax-season-opens-for-individual-filers-on-jan-23.html
27,Delta curbs employee access to airport lounges as it struggles with crowding,8 Hours Ago,https://www.cnbc.com/2023/01/12/delta-cracks-down-on-employee-use-of-luxury-airport-lounges-.html
28,Law professors urge Supreme Court to reject student loan forgiveness lawsuit,8 Hours Ago,https://www.cnbc.com/2023/01/12/professors-urge-supreme-court-to-reject-student-loan-forgiveness-lawsuit.html
29,More than 360 new UFO cases have been reported since March 2021,8 Hours Ago,https://www.cnbc.com/2023/01/12/more-than-360-new-ufo-cases-have-been-reported-to-us-intelligence-agencies-since-march-2021.html

# 8. Most downloaded article https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles

In [12]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
html = urlopen('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
bs = BeautifulSoup(html, "html.parser")
PeperTitleList = bs.select("a.nrDZj");
AuthorList = bs.select("span.pgLAT");
PublishedDateList = bs.select("span.bKddwo");
PaperLinkList = [b.attrs.get('href') for b in bs.select('a.nrDZj')]


latest_papers = []

for index in range(0,len(PeperTitleList)):
    title = PeperTitleList[index].get_text().strip();
    author = AuthorList[index].get_text();
    publishedon = PublishedDateList[index].get_text();
    paper_link = PaperLinkList[index];
    latest_papers.append([title, author, publishedon, paper_link]);
    
df = pd.DataFrame(latest_papers, columns=["Paper Title","Authors", "Published Date", "Paper URL"])
display(df)

Empty DataFrame
Columns: [Paper Title, Authors, Published Date, Paper URL]
Index: []

# 9. Details from dineout.co.in

In [13]:
from urllib.request import Request, urlopen
from bs4 import BeautifulSoup
import pandas as pd
hdr = {'User-Agent': 'Mozilla/5.0'}
req = Request('https://www.dineout.co.in/delhi-restaurants/buffet-special',headers=hdr)
html = urlopen(req)
bs = BeautifulSoup(html, "html.parser")
NameList = bs.select("a.restnt-name");
CuisineList = bs.select("span.double-line-ellipsis a");
Location = bs.select("div.restnt-loc");
Ratings = bs.select("div.restnt-rating");
ImgURL = [b.attrs.get('data-src') for b in bs.select('img.no-img')]




restaurant_list = []


for index in range(0,len(NameList)):
    name = NameList[index].get_text().strip();
    cuisine = CuisineList[index].get_text().strip();
    location = Location[index].get_text().strip();
    ratings = Ratings[index].get_text();
    imgURL = ImgURL[index];
    restaurant_list.append([name, cuisine, location, ratings, imgURL]);
    
df = pd.DataFrame(restaurant_list, columns=["Restaurant Name","Cuisine", "Location", "Ratings","Image URL"])
display(df)

,Restaurant Name,Cuisine,Location,Ratings,Image URL
0,Castle Barbeque,Chinese,"Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium
1,Jungle Jamboree,North Indian,"3CS Mall,Lajpat Nagar - 3, South Delhi",4.3,https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/p/m/p59633-166088382462ff137009010.jpg?tr=tr:n-medium
2,Cafe Knosh,North Indian,"The Leela Ambience Convention Hotel,Shahdara, East Delhi",3.9,https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium
3,Castle Barbeque,Asian,"Pacific Mall,Tagore Garden, West Delhi",4.3,https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium
4,The Barbeque Company,Italian,"Gardens Galleria,Sector 38A, Noida",4.3,https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium
5,India Grill,Italian,"Hilton Garden Inn,Saket, South Delhi",4.3,https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium
6,Delhi Barbeque,Continental,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium
7,The Monarch - Bar Be Que Village,Chinese,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",4.3,https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium
8,Indian Grill Room,North Indian,"Suncity Business Tower,Golf Course Road, Gurgaon",4,https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium

# 10. Details of top publications from Google Scholar from https://scholar.google.com/citations?view_op=top_venues&hl=en

In [14]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
html = urlopen('https://scholar.google.com/citations?view_op=top_venues&hl=en')
bs = BeautifulSoup(html, "html.parser")
RankList = bs.select("td.gsc_mvt_p");
PublicationList = bs.select("td.gsc_mvt_t");
h5Index = bs.select("td.gsc_mvt_n");
h5Median = bs.select('td.gsc_mvt_n')


top_publications = []

for index in range(0,len(RankList)):
    rank = RankList[index].get_text().strip();
    publication = PublicationList[index].get_text();
    h5_index = h5Index[index].get_text().strip();
    h5_median = h5Median[index].get_text().strip();
    top_publications.append([rank, publication, h5_index, h5_median]);
    
df = pd.DataFrame(top_publications, columns=["Rank","Publication", "h5-Index", "h5-Median"])
display(df)

,Rank,Publication,h5-Index,h5-Median
0,1.,Nature,444,444
1,2.,The New England Journal of Medicine,667,667
2,3.,Science,432,432
3,4.,IEEE/CVF Conference on Computer Vision and Pattern Recognition,780,780
4,5.,The Lancet,401,401
5,6.,Advanced Materials,614,614
6,7.,Nature Communications,389,389
7,8.,Cell,627,627
8,9.,International Conference on Learning Representations,354,354
9,10.,Neural Information Processing Systems,635,635
10,11.,JAMA,312,312
11,12.,Chemical Reviews,418,418
12,13.,Proceedings of the National Academy of Sciences,307,307
13,14.,Angewandte Chemie,428,428
14,15.,Chemical Society Reviews,300,300
15,16.,Journal of the American Chemical Society,505,505
16,17.,IEEE/CVF International Conference on Computer Vision,286,286
17,18.,Nucleic Acids Research,533,533
18,19.,International Conference on Machine Learning,278,278
19,20.,Nature Medicine,436,436
20,21.,Renewable and Sustainable Energy Reviews,267,267
21,22.,Science of The Total Environment,425,425
22,23.,Advanced Energy Materials,265,265
23,24.,Journal of Clinical Oncology,444,444
24,25.,ACS Nano,256,256
25,26.,Journal of Cleaner Production,364,364
26,27.,Advanced Functional Materials,245,245
27,28.,Physical Review Letters,332,332
28,29.,Scientific Reports,244,244
29,30.,The Lancet Oncology,386,386
30,31.,Energy & Environmental Science,242,242
31,32.,IEEE Access,344,344
32,33.,PLoS ONE,239,239
33,34.,Science Advances,415,415
34,35.,Journal of the American College of Cardiology,238,238
35,36.,Applied Catalysis B: Environmental,550,550
36,37.,Nature Genetics,237,237
37,38.,BMJ,421,421
38,39.,Circulation,235,235
39,40.,European Conference on Computer Vision,389,389
40,41.,International Journal of Molecular Sciences,227,227
41,42.,Nature Materials,324,324
42,43.,Chemical engineering journal,225,225
43,44.,AAAI Conference on Artificial Intelligence,311,311
44,45.,Journal of Materials Chemistry A,220,220
45,46.,ACS Applied Materials & Interfaces,300,300
46,47.,Nature Biotechnology,213,213
47,48.,The Lancet Infectious Diseases,315,315
48,49.,Frontiers in Immunology,211,211
49,50.,Applied Energy,277,277
50,51.,Nano Energy,211,211
51,52.,Nature Energy,273,273
52,53.,Meeting of the Association for Computational Linguistics (ACL),210,210
53,54.,The Astrophysical Journal,280,280
54,55.,Gastroenterology,207,207
55,56.,Nature Methods,294,294
56,57.,IEEE Transactions on Pattern Analysis and Machine Intelligence,206,206
57,58.,Cochrane Database of Systematic Reviews,274,274
58,59.,Blood,202,202
59,60.,Neuron,329,329
60,61.,Nano Letters,202,202
61,62.,Morbidity and Mortality Weekly Report,290,290
62,63.,European Heart Journal,200,200
63,64.,Nature Nanotechnology,303,303
64,65.,ACS Catalysis,198,198
65,66.,Nature Neuroscience,278,278
66,67.,American Economic Review,197,197
67,68.,Journal of High Energy Physics,294,294
68,69.,IEEE Communications Surveys & Tutorials,195,195
69,70.,Annals of Oncology,276,276
70,71.,Nutrients,192,192
71,72.,Accounts of Chemical Research,246,246
72,73.,Immunity,191,191
73,74.,Environmental Science & Technology,297,297
74,75.,Nature Reviews. Molecular Cell Biology,190,190
75,76.,Gut,307,307
76,77.,Physical Review D,189,189
77,78.,ACS Energy Letters,301,301
78,79.,Monthly Notices of the Royal Astronomical Society,186,186
79,80.,Conference on Empirical Methods in Natural Language Processing (EMNLP),321,321
80,81.,Clinical Infectious Diseases,183,183
81,82.,Cell Metabolism,253,253
82,83.,Nature Reviews Immunology,181,181
83,84.,Joule,265,265
84,85.,Nature Photonics,181,181
85,86.,International Journal of Environmental Research and Public Health,224,224
86,87.,Environmental Pollution,180,180
87,88.,Computers in Human Behavior,296,296
88,89.,Frontiers in Microbiology,178,178
89,90.,Nature Physics,220,220
90,91.,Small,177,177
91,92.,Cell Reports,223,223
92,93.,Molecular Cell,175,175
93,94.,Clinical Cancer Research,315,315
94,95.,Bioresource Technology,173,173
95,96.,Journal of Business Research,296,296
96,97.,Molecular Cancer,173,173
97,98.,Sensors,228,228
98,99.,Nature Climate Change,173,173
99,100.,IEEE Internet of Things Journal,217,217